
$font-family: 'Montserrat', sans-serif;
$font-size: 1rem;
$font-sizes: (
    "": (
        "p": 1rem
    ),
    "medium": (
        "p": 2rem
    ),
    "large": (
        "p": 3rem
    )
);

$colors: (
    "red": #e85a62,
    "blue": #3259b7,
    "orange": #eb823c,
    "green": #428d52,
    "pink": #b92383,
    "black": #222,
    "white": #fff
);

$themes: (
    "default": (
        primary: #e85a62,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    ),
    "features": (
        primary: #fa6f50,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    ),
    "roadmap": (
        primary: #b92383,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    ),
    "documentation": (
        primary: #467edd,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    ),
    "history": (
        primary: #428d52,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    ),
    "contacts": (
        primary: #7d47e7,
        onPrimary: #ffffff,
        secondary: #333333,
        onSecondary: #ffffff,
        background: #ffffff,
        onBackground: #000000,
        surface: #000000,
        onSurface: #ffffff
    )
);

$breakpoints: (
    "": 0px,
    "medium": 641px,
    "large": 1008px,
    "gigantic": 1367px
);

$containers: (
    "": calc(100vw - (100vw - 100%)),
    "content": 1100px
);